<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ficha.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="Ficha.Properties.Settings.connString" connectionString="Data Source=(LocalDB)\mssqllocaldb;Initial Catalog=GEAPE_BD;Integrated Security=True;Pooling=False" />-->
    <add name="geapedbContextEntities" connectionString="metadata=res://*/Entities.GeapeDbContext.csdl|res://*/Entities.GeapeDbContext.ssdl|res://*/Entities.GeapeDbContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.95.2.78;port=33066;password=;user id=root;database=fichacompetencia&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="geapedbContextEntities" connectionString="metadata=res://*/Entities.GeapeDbContext.csdl|res://*/Entities.GeapeDbContext.ssdl|res://*/Entities.GeapeDbContext.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.95.2.78;port=33066;password=;user id=root;database=geapedb&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Ficha.Properties.Settings>
      <setting name="New" serializeAs="String">
        <value>613, 21</value>
      </setting>
    </Ficha.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>